<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{url_for('static', filename='../static/Demo.css')}}">
</head>
<body>
    <div class="about">
        <div class="inner-section">
            <h1>About Us</h1>
            <p class="text">
                NMFC Bank is a leading private sector bank in India. The Bank’s consolidated total assets stood at Rs. 14.76 trillion at September 30, 2020.  NMFC Bank currently has a network of 5,288 branches and 15,158 ATMs across India.
            </p>
            <div class="skills">
                <button>Contact Us</button>
            </div>
        </div>
    </div>
</body>
</html>